.publish{
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}
.publish > h1{
    margin: 2rem 0 2rem 5rem;
    font-size: 45px;
}
.form__container{
    width: 75%;
    margin-left: 7rem;
}
.form__container > form > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
.form__container > form > div > label{
    min-width: 290px;
    font-size: 14px;
    font-weight: 500;
}
.form__container > form > div > input{
    width: calc(100% - 400px);
    max-width: 500px;
    min-width: 300px;
    outline-width: 0;
}
.form__container > form > div > textarea{
    width: calc(100% - 400px);
    max-width: 500px;
    min-width: 300px;
    outline-width: 0;
}
.form__container > form > div > div {
    display: flex;
}
.form__container > form > div > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__container > form > div > div > div > div {
    margin: 0 1.8rem 1.8rem 1.8rem;
    display: flex;
}
.outputs{
    margin: 1.8rem 1.8rem 0 1.8rem !important;
}
.form__container > form > div > div > div > div > h3{
    font-size: 1.4rem;
    min-width: 100px;
}
.form__container > form > div > div > div > div > p{
    display: block;
    margin: auto 0;
    font-size: 15px;
    font-weight: 600;
    color: rgb(104, 104, 104);
}
.form__container > form > div > div > div > svg{
    display: block;
    margin: auto 0;
    font-size: 24px;
    background: #C4C4C4;
    cursor: pointer;
}
.outpout{
    display: block;
    margin: 1.8rem 1.8rem 0 !important;
}
.add_test_modal{
   border: none !important;
}
.add_test_modal > div > .cm-s-material{
    height: 100px !important;
    margin-left: 2rem;
}
.add_test_modal > h4{
    margin-bottom: 1rem;
}
.add_test_modal > button{
    height: 42px;
    width: 190px;
    border-radius: 5px;
    display: block;
    margin: 1rem auto;
    border: none;
    background: #50AF59;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.add_test_modal > h5{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}
.form__container > form > button{
    height: 42px;
    width: 190px;
    border-radius: 5px;
    display: block;
    margin: 1rem auto;
    border: none;
    background: #50AF59;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.skelet {
    width: calc(100% - 400px);
    max-width: 500px;
    min-width: 300px;
    height: 200px;
}
.skelet > div{
    width: 100%;
    height: 200px;
}
.skelet > div > div{
    width: 100%;
    height: 200px;
}