.publish{
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}
.publish > h1{
    margin: 2rem 0 2rem 5rem;
    font-size: 45px;
}
.form__container{
    width: 75%;
    margin-left: 7rem;
}
.form__container > form > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
.form__container > form > div > label{
    min-width: 290px;
    font-size: 14px;
    font-weight: 500;
}
.form__container > form > div > input{
    width: 50%;
    outline-width: 0;
}
.form__container > form > div > textarea{
    width: 50%;
    outline-width: 0;
}
.form__container > form > div > div > div{
    display: flex;
    margin: 1.5rem 0;
}
.form__container > form > div > div > div > h3{
    margin-right: 1rem;
    font-size: 1.4rem;
    min-width: 100px;
}
.form__container > form > div > div > div > svg{
    display: block;
    margin: auto 0;
    font-size: 24px;
    background: #C4C4C4;
    cursor: pointer;
}
.add_test_modal{
   border: none !important;
}